.billing {
	max-width: 690px;
	margin: 0 auto;

	@include max-screen(1199px) {
		max-width: 670px;
	}
}

.billing__title {
	margin: 0 0 40px 30px;
}

.billing__type {
	display: flex;
	align-items: center;
	margin: 0 0 40px 30px;
}

.billing__type-item {
	&:not(:last-child) {
		margin-right: 82px;
	}
}

.billing__accepts {
	margin: 0 0 40px 30px;
}

.billing__checkbox {
	color: $color-gray-dark;
	margin-bottom: 15px;
}

.billing__buttons {
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
}
