.amount__table {
	width: 100%;
	line-height: 34px;
}

.amount__right {
	padding-right: 15px;
	text-align: right;
}

.amount__total {
	padding-top: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}
