.card {
	max-width: 550px;
	padding: 24px 30px 45px;
	margin: 0 0 42px;
	border: 1px solid $color-gray;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.card__row {
	display: flex;
	flex-wrap: wrap;

	&:not(:last-child) {
		margin-bottom: 25px;
	}
}

.card__number {
	display: flex;
}

.card__number-input {
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.card__date,
.card__code {
	width: 100px;
	margin-right: 30px;
}
