.i-text {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	/* Turn off iPhone/Safari input element rounding: */
	-webkit-appearance: none;
	background: $color-gray-lighter;
	border-radius: 3px;
	border: none;
	transition: 0.25s;

	&:focus {
		box-shadow: inset 0 0 0 1px $color-primary;
		outline: none;
	}
}
