$color-primary: #3366ff;
$color-white: #fff;
$color-black: #000;
$color-gray-darkest: #555770;
$color-gray-darker: #8e90a6;
$color-gray-dark: #8c8c8c;
$color-gray: #cfcfcf;
$color-gray-light: #d5d5d5;
$color-gray-lighter: #ededf1;

$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
